iframe,img:hover{
    box-shadow: 0 0 23px 3px rgba(5, 5, 168, 0.938);
}

footer {
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: bold;
    grid-area: footer;
    padding: 20px;
}

header {
    background-color: #f0f0f0;
    padding: 1px;
    text-align: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    font-size: 27px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
}

article{
    align-items: center;
    text-align: center;
}

#Itinerario{
    align-items: center;
    text-align: center;
    background-color: hsla(165, 73%, 50%, 0.596);
    color: #080808;
}

#about{
    align-items: center;
    text-align: center;
}

#destinations{
    align-items: center;
    text-align: center;
}

#destinos, ul, li{
    align-items: center;
    text-align: center;
    list-style-type: none;
}

#nombre{
    align-items: center;
    text-align: center;
}

.sidebar {
    width: 150px;
    height: 57%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 999;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px 15px;
    font-size: 18px;
    text-align: center;
}

.sidebar nav ul li a:hover {
    background-color: #555;
}

.day-container {
    margin-bottom: 20px;
    cursor: pointer;
}

.day-container p {
    display: none;
}

.day-container:hover p {
    display: block;
}

.contenedor {
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap:15px;
    justify-content: center;
    align-items: center;
}

.contenedor > div{
    text-align:center;
    align-items: center;
    padding:3px;
    font-size:25px;
    font-weight:bold;
   }

.flex-item {
    flex: auto auto auto;
    position: relative;
    align-items: center;
}

.flex-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.overlay h3,
.overlay p {
    margin: 0;
    text-align: center;
}

.flex-item:hover .overlay {
    opacity: 1;
}
